<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="m-2 grid gap-2">
  <div class="grid gap-2">
    <label for="name">Nombre: </label>
    <input
      type="text"
      placeholder="Ingrese su nombre"
      id="name"
      formControlName="name"
      class="border border-gray-500 rounded-xl p-2 placeholder:text-gray-400 max-w-[15rem]"
      errorMessagesInput
    />
  </div>
  <div class="grid gap-2">
    <label for="surname">Apellidos: </label>
    <input
      type="text"
      placeholder="Ingrese sus apellidos"
      id="surname"
      formControlName="surname"
      class="border border-gray-500 rounded-xl p-2 placeholder:text-gray-400 max-w-[20rem]"
      errorMessagesInput
    />
  </div>
  <div class="grid gap-2">
    <label for="name">Email: </label>
    <input
      type="email"
      placeholder="Ingrese su correo"
      id="email"
      formControlName="email"
      class="border border-gray-500 rounded-xl p-2 placeholder:text-gray-400 max-w-[20rem]"
      errorMessagesInput
    />
  </div>
  <div class="flex gap-4 mt-6">
    <app-button (clickEmitter)="handleClear()" [isDisabled]="!hasAnyValue" customClass="bg-red-500">
      Cancelar
    </app-button>
    <button
      type="submit"
      class="py-2 px-4 bg-green-500 rounded-2xl border-none text-white cursor-pointer disabled:bg-gray-500 disabled:cursor-auto"
      [disabled]="form.invalid"
    >
      Agregar
    </button>
  </div>
</form>
